/* .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
 }
  
.card{
width: 270px;
height: 170px;   
border-radius: 6px;
}
.fa-paint-brush, .fa-image{
    font-size: 15px;
}
.icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-top: 50px !important;
    margin-left: 3px;
}
.info{
display: grid;
height: 160px;
}
input[type=text] {
width: 70%;
border: none;
outline: none;
font-weight: 600;
color: gray;
}
.card-body {
-ms-flex: 1 1 auto;
padding: 1.25rem;
}
.bigNote{
width: 515px;display: none;
height: 200px;
}
.close{
width: 70px;
margin-left: 381px;
margin-top: -32px;
font-size: 15px;
font-weight: 500;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    margin-top: -7px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.fas , .far{
    font-size: 18px;
} */