<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">  
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  
<body> 
 <!--navigation bar  -->

<nav class="navbar navbar-expand-sm bg-light  fixed-top row d-flex justify-content-center">
   
    <ul class="navbar-nav">
      <li>
            <i class="fas fa-bars" style="margin-left: 20px; margin-top: 15px;"></i>
      </li>
      <li class="nav-item">
        <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"><b>Keep</b>
      </li>
      <li>
        <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <input type="text" class="form-control" placeholder="Search">
                <i class="fa fa-search" style="margin-top: 18px; margin-left: -27px;"></i>
              </div>
            </div>    
          </form>
      </li>  
    </ul>
    <ul class="threeIcons">
        <li>
            <i class="fas fa-redo"></i>
        </li>
        <li>
            <i class="material-icons" style="font-size: 35px;">view_stream</i>
        </li>
        <li>
            <i class="fas fa-cog"></i>
        </li>
    </ul>
    <ul class="twoIcons">
        <li>
            <i class="material-icons" style="font-size: 35px;">apps</i>
        </li>
        <li>
            <div >
                <img src="/images/natural.jpg" class="image">
              </div>
        </li>
    </ul>
  </nav>

  <!--sidenav bar  -->
  <div class="sidebarBody">
    <div class="sidebar" id="bar">
      <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
      <a href="#" >Notes</a>
      <a href="#">Remainder</a>
      <a href="#">Labels</a>
      <a href="#">Edit Labels</a>
      <a href="#">Archieve</a>
      <a href="#">Trash</a>
    </div>
  </div>
    <!-- <div class="content-body">
      <div class="container">
        <div class="data1">
          <div class="left">
            <h style="font-weight: bold;">Hello,</h>
            <h>Welcome here</h>
          </div>
          <div class="right">
            <h>Home ></h>
            <h style="color: blueviolet;">Dashboard</h>
          </div>
    </div> -->

        

  <!-- body -->
  <!-- <div class="container-fluid" style="margin-top:80px">
    <h3>Top Fixed Navbar</h3>
    <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
    <h1>Scroll this page to see the effect</h1>
  </div> -->
  
  </body>
</html>