<!doctype html>
<html lang="en">
  <head>
    <title>DASHBOARD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height:100%, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">  
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/dashboard/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head> 
  
<body> 
 <!--navigation bar  -->

<nav class="navbar navbar-expand-sm bg-light  fixed-top row d-flex justify-content-center" id="main">
  <div class="navbar-nav">
    <ul>
      <li><i class="fas fa-bars menu" id="openNav"></i></li>
      <li> <img class="keepLogo" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png"><span >Keep</span></li>
      <li> 
        <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <input type="text" class="form-control" placeholder="Search">
            <i class="fa fa-search" style="margin-top: 18px; margin-left: -27px;"></i>
          </div>
        </div>    
      </form>
    </li>
      <li>
        <div class="threeIcons">
          <div>
              <i class="fas fa-redo" ></i>
          </div>
          <div>
              <i class="material-icons middleIcon">view_stream</i>
          </div>
          <div>
              <i class="fas fa-cog"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="twoIcons">
            <div class="app">
                <i class="material-icons app" >apps</i> 
            </div>
            <div>
                <img src="/images/natural.jpg" class="image">
            </div>
      </div>
     </li>
    </ul>  
   </div>
  </nav>
    <!-- sidebar  -->
    <div class="sideBody">
      <div class="side">
        <div class="w3-sidebar w3-bar-block w3-card " style="display:none" id="mySidebar">
          <a href="#">
            <i href="#" class="material-icons">lightbulb_outline</i><span>Notes</span>
          </a>
          <a href="#">
            <i class="material-icons">notifications_none</i><span>Remainder</span>
          </a>
          <div class="line"></div>
          <a class="w3-bar-item w3-button">LABELS</a>
          <a href="#">
            <i class='fas fa-pencil-alt'></i><span>Edit Labels</span>
          </a>
          <div class="line"></div>
          <a href="#">
            <img src="/images/archieve.png" class="archive"><span>Archieve</span>
          </a>
          <a href="#">
            <i class="material-icons">delete</i><span>Trash</span>
          </a>
        </div>    
      </div>

<div class="dataBody" id="dataBody">
        <!-- body started -->
    <div class="data" id="data">
    <!-- create note -->
      <div class="noteOne" style="margin-top: 160px;" id="note">
          <div id="flip">
              <b class="head" style="color: gray;">Take a note ...</b>
              <div class="threeIcons">
                  <i class="material-icons cal">assignment_turned_in</i>
                  <i class='fas fa-paint-brush'></i>
                  <i class='fas fa-image'></i>
              </div> 
          </div>
      </div>
    
     <!-- open note -->
     <div class="createNote" style="display: none;" id="openNote">
      <form>
          <input type="text" placeholder="Title" id="title" >
          <input type="text" placeholder="Take a note ..." id="desc" >  
      </form>
      <div class="icons">
          <i class="material-icons">add_alert</i>
          <i class="material-icons">person_add</i>
          <i class='fas fa-palette'></i>
          <i class='far fa-image'></i>
          <img src="/images/archieve.png" class="archive">
          <i class='fas fa-ellipsis-v'></i>
      </div>
      <button type="button" class="btn btn-link close" id="close">Close</button>      
    </div>

<!-- display note  on dashboard-->
    <div class="container" id="display1">
      <!-- <div class="pinnedNotes" id="pinnedNotes"></div>
      <div class="unpinNotes" id="unpinNotes"></div> -->
     <tr>
        <div class="card">
          <img src="/images/unpinnnn.png" id="unpin" style="width: 25px; height: 23px; margin-left: 235px;margin-top: 3px;">
          <div class="card-body">
            <div class="info" style="color: black; "  data-toggle="modal" data-target="#myModal">
              <div class="tit" id="tit"><span>abc</span></div>
              <div id="desc" class="desc" style="margin-top: 20px;"><span>abcdehghi</span></div>
            </div>
            <ul class="icon" style="padding-right: 10px; display: flex;">
                    <li class="icon-item">
                      <i class="material-icons" id="">add_alert</i>
                    </li>
                    <li class="icon-item">
                      <i class="material-icons" id="">person_add</i>
                    </li>

                    <li class="icon-item dropdown">
                      <i class="fas fa-palette dropbtn" id="colors" data-toggle="dropdown" role="button" ></i>
                       <ul class="dropdown-menu"  aria-labelledby="colors">
                          <li><div href="#" class="color" value="red" onclick="insrt('red')" style="background-color: red;"></div></li>
                          <li><div href="#" class="color" value="blue" onclick="insrt('blue')"style="background-color: blue;"></div></li>
                          <li><div href="#" class="color" value="aqua" onclick="insrt('aqua')"style="background-color: aqua;"></div></li>
                          <li><div href="#" class="color" value="blueviolet" onclick="insrt('blueviolet')"style="background-color: blueviolet;"></div></li>
                          <li><div href="#" class="color" value="pink" onclick="insrt('pink')"style="background-color: pink"></div></li>
                          <li><div href="#" class="color" value="skyblue" onclick="insrt('skyblue')"style="background-color: skyblue;"></div></li>
                          <li><div href="#" class="color" value="black" onclick="insrt('black')"style="background-color: black;"></div></li>
                          <li><div href="#" class="color" value="yellow" onclick="insrt('yellow')"style="background-color:yellow ;"></div></li>
                          <li><div href="#" class="color" value="green" onclick="insrt('green')"style="background-color: green;"></div></li>
                       </ul>
                    </li>

                    <li class="icon-item">
                      <i class="far fa-image" id=""></i>
                    </li>

                    <li class="icon-item" id="archieveNote">
                      <img src="/images/archieve.png" style="width: 20px; height: 18px;"></i>
                    </li>
                    <li class="icon-item dropdown" >
                      <i class="fas fa-ellipsis-v" role="button" data-toggle="dropdown" id="moreIcon"></i>
                      <ul class="dropdown-menu" aria-labelledby="moreIcon">
                         <li class="dropdown-item" id="deleteNote">Delete note</li>
                         <li class="dropdown-item" href="#">Change labels</li>
                         <li class="dropdown-item" href="#">Add drawing</li>
                         <li class="dropdown-item" href="#">Make a copy</li>
                      </ul>
                    </li>
                </ul>   

            </div>
            </div>
            </div>
          </tr>   
        </div> 
 
<!-- modal is here -->
    <div class="modal" id="myModal" role="dialog">
       <div class="modal-dialog">
    
    
      <div class="modal-content">
        <div class="modalData">
          <input class="form-control updateTitle" style="box-shadow: none;" type="text" value="">
          <input class="form-control updateDesc"  style="box-shadow: none;" type="text" value="">
        </div>
        <div class="footer">
          <i class="material-icons">add_alert</i>
          <i class="material-icons">person_add</i>
          <i class='fas fa-palette'></i>
          <i class='far fa-image'></i>
          <img src="/images/archieve.png" style="width: 20px; height: 18px;">
          <i class='fas fa-ellipsis-v'></i>
          <i class="fas fa-undo"></i>
          <i class="fas fa-redo"></i>   
          <button type="button" class="btn btn-default" data-dismiss="modal" id="updateData" style="margin-top: -8px;">Close</button>
        </div>
      </div>
      
    </div>
  </div> 
  <i class="fas fa-thumbtack"></i>
  <div id="snackbarPin">Note is Pinned ...</div> 
  <div id="snackbarTrash">Note is Trashed ...</div>
  <div id="snackbarArchive">Note is Archived ...</div>
  <div id="snackbarNoteCreate">Note is Created ...</div>

    </div> 
    </div>
  </div>
 </div>
   
    <script src="/js/dashboard/dashboard.js"></script>
    <!-- <script src="/js/notes/note.js"></script> -->

  </body>
</html>