<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width,height:100%, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="../css/forgot.css">
  </head>
  <body>
    <div class="forget">
        <div class="top">
          <div class="heading">
            <span class="text-primary">F</span><span class="text-danger">u</span><span class="text-warning">n</span><span class="text-primary">d</span><span class="text-success">o</span><span class="text-danger">o</span>
          </div>
          <p11>Account Recovery</p11>
        </div>
        <div class="paragraph">Enter your Email-Id, So we can send you a Reset Password Link</div>  
        
        <div class="form-group input-group names">
          <span class="has-float-label">
            <input class="form-control" data-bind="email" id="email" type="text" placeholder=" "/>
            <label for="first">Enter your email</label>
          </span>
       </div>

      <button type="submit" id="forgotButton" class="btn btn-primary signinBtn">Forget Password</button>
      <a type="submit" id="myButton" href="#reset" class="btn btn-primary" style="width: 160px; margin-top: 30px;margin-left: 35px;height: 37px;">Reset Password</a>

    </div>
     <script src="../js/forgot.js"></script>
  </body>
</html>