<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <!-- <meta name="viewport" content="width=device-width,height:100%, initial-scale=1"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
  
   <div class="login">
     <div class="top">
        <div class="heading">
          <span class="text-primary">F</span><span class="text-danger">u</span><span class="text-warning">n</span><span class="text-primary">d</span><span class="text-success">o</span><span class="text-danger">o</span>
        </div>
        <h class="signin">Sign in</h>
        <p>to continue to fundoo</p>
     </div>
    
    <div action="" class="form-group input-group form">
      <div class="form-group input-group form1">
        <span class="has-float-label">
          <input class="form-control"  data-bind="email" id="email" type="text" placeholder=" " required=" "/>
          <label for="first">Email</label>
        </span>
       
        <label class="has-float-label">
          <input class="form-control"  data-bind="password" id="password" type="text" placeholder=" " required=" "/>
          <label for="pass">Password</label>
        </label>
      </div>
      <input type="submit" id="signin" value="Sign In" name=""  class="btn btn-primary">
      <!-- <button type="submit" id="signin" class="btn btn-primary signinBtn">Sign In</button> -->
    </div>

    <div class="forgot">
      <div class="card-text" style="  transform: rotate(0);margin-top: 10px;">
        <a href="#forgot" class="text-primary stretched-link">Forgot Password?</a>
      </div>
      <a type="submit" id="myButton" href="#newAccount" class="btn btn-primary">Create Account</a>
    </div>
  </div>
  
</body>
 
</html>