<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width,height:100%, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="../css/reset.css">
  </head>
  <body>
    <div class="forget">
        <div class="top">
          <div class="heading">
            <span class="text-primary">F</span><span class="text-danger">u</span><span class="text-warning">n</span><span class="text-primary">d</span><span class="text-success">o</span><span class="text-danger">o</span>
          </div>
          <p11>Hi ...</p11>
        </div>
        <div class="paragraph">To Continue first verify you</div>  
        
        <div class="form-group input-group names">
          <span class="has-float-label">
            <input class="form-control" data-bind="password" id="password" type="text" placeholder=" "/>
            <label for="first">Enter your password</label>
          </span>
       </div>

       <div class="forgot">
        <div class="card-text" style="  transform: rotate(0);margin-top: 10px;">
          <a href="forgot.html" class="text-primary stretched-link">Forgot Password?</a>
        </div>
        <!-- <a type="submit" id="myButton" href="#" class="btn btn-primary" style="width: 75px;
        height: 35px;">Next</a> -->
        <input type="submit" id="next" value="Change Password" name=""  class="btn btn-primary" style="height: 40px;
        width: 158px;">

      </div>
    </div>
    <script src="../js/reset.js"></script>
  </body>
</html>