html {
  height: 100%;
 }
 body{
   height: 100%;
   display: flex;
   justify-content: center;
   font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
 }
 .heading {
  font-size: 35px;
  margin-left: 35px;
}
.top{
  padding: 10px;    justify-content: center;
  display: grid;
}
.forget{
  display: grid;
  margin: auto;
  width: 60%;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 40px;
  width: 590px;
  height: 500px;
}
p11{
  font-size: 23px;
}
.paragraph{
  box-sizing: border-box;
  text-align: center;
  word-break: break-word;
}
.signinBtn{
  width: 160px;
  height: 36px;
  margin-left: 183px;
}
.form-control {
  display: block;
  width: 510px;
  height: 55px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
/******************* MEDIA QUERY STARTED **************************************************/
@media screen and (max-width: 320px) {
  html {
    height: 100%;
   }
   body{
     height: 100%;
     display: flex;
     justify-content: center;
     font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
   }
   .heading {
    font-size: 35px;
    margin-left: 35px;
  }
  .forget {
    display: grid;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 40px;
    width: 305px;
    height: 402px;
    justify-content: center;
  }
  
.paragraph {
  box-sizing: border-box;
  text-align: start;
  word-break: break-word;
}
.top {
  padding: 10px;
  justify-content: start;
  display: grid;
}
.names{
  margin-top: 25px;
}
.form-control {
  display: block;
  width: 244px;
  height: 42px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
.signinBtn {
  width: 160px;
  height: 36px;
  margin-left: 34px;
}
.buttons{
  display: grid;
  grid-row-gap: 15px;
}
.resetBtn{
  WIDTH: 159px;
    margin-left: 34px;
}
}
/********************************************************/
@media screen and (min-width:321px) and (max-width: 425px) {
  .forget {
    display: grid;
    margin: auto;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 40px;
    width: 405px;
    height: 400px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-left: 10px!important;
}
.top {
  padding: 10px;
  justify-content: start;
  display: grid;
}
.heading {
  font-size: 35px;
  margin-left: 89px;
  margin-top: -35px;
}
p11 {
  font-size: 23px;
  margin-top: -25px;
  margin-left: 62px;
}
.paragraph {
  box-sizing: border-box;
  text-align: center;
  word-break: break-word;
  margin-top: -10px;
}
.form-control {
  display: block;
  width: 342px;
  height: 47px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
.names{
  margin-top: 0px;
}
.signinBtn {
  margin-left: -25px;
  margin-top: 10px;
}
.resetBtn{
  width: 160px;
  margin-top: 10px;
  margin-left: -27px;
}
.buttons{
  display: flex;
    justify-content: space-between;
    margin-left: -3px;
}


}
/********************************************************/
@media screen and  (min-width: 425px) {
.resetBtn{
  height: 36px;
}
.buttons{
  display: flex;
    justify-content: space-between;
    margin-left: -182px;
}
}