html {
  height: 100%;
 }
 body{
   height: 100%;
   display: flex;
   justify-content: center;
   font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
 }
 .heading {
  font-size: 35px;
  margin-left: 35px;
}
.top{
  padding: 10px;    justify-content: center;
  display: grid;
}
.forget{
  display: grid;
  margin: auto;
  width: 60%;
  border-radius: 8px;
  border: 1px solid #dadce0;
  padding: 40px;
  width: 500px;
  height: 500px;
}
p11{
  font-size: 23px;
}
.paragraph{
  box-sizing: border-box;
  text-align: center;
  word-break: break-word;
}
.signinBtn{
  width: 75px;
  height: 35px;
  margin-left: 183px;
}
.form-control {
  display: block;
  width: 420px;
  height: 55px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
.forgot {
  display: grid;
  justify-content: center;
  margin-top: 12px;
  grid-row-gap: 20px;
}
/******************* MEDIA QUERY STARTED **************************************************/
@media screen and (max-width: 320px) {
  html {
    height: 100%;
   }
   body{
     height: 100%;
     display: flex;
     justify-content: center;
     font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
   }
   .heading {
    font-size: 35px;
    margin-left: 35px;
  }
  .forget {
    justify-content: space-around;
    /* margin-top: 12px; */
    display: grid;
    grid-row-gap: 20px;
    width: 285px;
}
    
  }
  
.paragraph {
  box-sizing: border-box;
  text-align: start;
  word-break: break-word;
}
.top {
  padding: 10px;
  justify-content: start;
  display: grid;
}
.names{
  margin-top: 25px;
}
.form-control {
  display: block;
  width: 244px;
  height: 42px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
.signinBtn {
  width: 160px;
  height: 36px;
  margin-left: 34px;
}

/********************************************************/
@media screen and (min-width:321px) and (max-width: 425px) {
  .forget {
    display: grid;
    margin: auto;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 40px;
    width: 392px;
    height: 450px;
    padding-bottom: 7px;
}
.top {
  padding: 10px;
  justify-content: start;
  display: grid;
}
.heading {
  font-size: 35px;
  margin-left: 89px;
  margin-top: -35px;
}
p11 {
  font-size: 23px;
  margin-top: -25px;
  margin-left: 62px;
}
.paragraph{
  box-sizing: border-box;
    text-align: center;
    word-break: break-word;
    margin-top: -30px;
  }
.form-control {
  display: block;
  width: 342px;
  height: 47px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
.names{
  margin-top: -30px;
}
.signinBtn {
  width: 75px;
  height: 35px;
  margin-left: 90px;
  margin-top: -50px;
}
.forgot {
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  grid-row-gap: -50px;
}
}

/********************************************************/
@media screen and (min-width: 426px) {
.top {
  padding: 10px;
  justify-content: center;
  display: grid;
}
.forgot {
  display: flex;
    justify-content: space-between;
    margin-top: -29px !important;
}
.paragraph {
  box-sizing: border-box;
  text-align: start;
  word-break: break-word;
  margin-left: 115px;
}
.form-control{
  display: block;
  width: 420px;
  height: 50px;
  padding: -2.625rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 5.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: -1px;
}
.forgot {
  display: flex;
  justify-content: space-between;
  margin-top: -89px;
  grid-row-gap: -21px !important;
}
.names {
  margin-top: -39px;
}
}
