<!doctype html>
<html lang="en">
  <head>
    <title>Note</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height:100%, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">  
    <link rel="stylesheet" href="/css/notes/note.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>  
  
 <body>
 <!-- <div class="card" id="note">
    <div class="card-body">
        <div class="info">
          <b class="tit">title</b>
          <b class="desc" style="margin-top: 20px;">description</b>
          <div class="icons" style="padding-right: 10px; !important">
            <i class="material-icons">add_alert</i>
            <i class="material-icons">person_add</i>
            <i class='fas fa-palette'></i>
            <i class='far fa-image'></i>
            <img src="/images/archieve.png" style="width: 20px; height: 18px;">
            <i class='fas fa-ellipsis-v'></i>
          </div>
        </div>
    </div>
</div>

<div class="bigNote card" id="openNote">
  <div class="card-body">
    <form class="">
      <input type="text" id="title" name="title" value="title"><br>
      <input type="text" id="desc" name="desc" value="description" style="margin-top: 20px;"><br><br>
    </form> 
      <div class="icons" style="">
        <i class="material-icons">add_alert</i>
        <i class="material-icons">person_add</i>
        <i class='fas fa-palette'></i>
        <i class='far fa-image'></i>
        <img src="/images/archieve.png" style="width: 20px; height: 18px;">
        <i class='fas fa-ellipsis-v'></i>
        <i class="fas fa-undo"></i>
        <i class="fas fa-redo"></i>    
      </div>
      <button type="button" class="btn btn-link close" id="close">Close</button>
    </div>
  </div> -->
  <script src="/js/notes/note.js"></script>
</body>
</html>