<!DOCTYPE html>
<html>
    <head>
        <title>Display Selected HTML Table TR Values In Input Text</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <style>
            table tr:not(:first-child){
                cursor: pointer;transition: all .25s ease-in-out;
            }
            table tr:not(:first-child):hover{background-color: #ddd;}
        </style>
        
    </head>
    <body>
       
        First Name:<input type="text" name="fname" id="fname"><br><br>
          
          <table id="table" border="1">
            <tr>
                <td>sangharsha</td>
            </tr>
            
            <tr>
                <td>satish</td>>
            </tr>
            
            <tr>
                <td>kishore</td>
            </tr>
            
            <tr>
               <td>iam</td>
            </tr>
            
            <tr>
                <td>wife</td>
            </tr>
            
            <tr>
                <td>me</td>
           </tr>
        </table>
        
        <script>
    
                var table = document.getElementById('table');
                
                for(var i = 1; i < table.rows.length; i++)
                {
                    table.rows[i].onclick = function()
                    {
                         //rIndex = this.rowIndex;
                         document.getElementById("fname").value = this.cells[0].innerHTML;
                        //  document.getElementById("lname").value = this.cells[1].innerHTML;
                        //  document.getElementById("age").value = this.cells[2].innerHTML;
                    };
                }
    
         </script>
        
    </body>
</html>

